@model MessageBoard.ViewModel.GuestbookView

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <table>
        @if (!Model.DataList.Count.Equals(0))
        {
            foreach (var item in Model.DataList)
            {
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataList[0].Name)</td>
                    <td>@item.Name</td>
                    <td>@Html.DisplayNameFor(model => model.DataList[0].CreateTime)</td>
                    <td>@item.CreateTime</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataList[0].Content)</td>
                    <td colspan="3">@item.Content</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataList[0].Reply)</td>
                    <td>@item.Reply</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataList[0].ReplyTime)</td>
                    <td>@item.ReplyTime</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">資料庫內無資料</td>
            </tr>

        }

    </table>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
